# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environments
.venv/
env/
venv/

# Other typical Python ignores
*.egg-info/
dist/
build/

# Ignore the database
database/bar.db

# Ignore the analytics
analytics/*